button {

    /* Variables */
    --button_radius: 0.75em;
    --button_color: rgb(226, 157, 195);
    --button_outline_color: rgb(65, 29, 47);
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }

  .centerr {
    /* text-align: center; */
    display: flex; /* Устанавливаем флекс-контейнер */
    justify-content: space-between; /* Распределяем элементы по горизонтали */
    padding: 0 70px; /* Добавляем отступы по 50 пикселей слева и справа */
    flex-wrap: wrap; /* Позволяем элементам переноситься на следующую строку, если не хватает места */

}

.conteiner {
    margin-top: 50px;
    margin: 30px; /* Добавляем небольшой отступ между элементами */
    /* display: inline; */
    display: inline-block;
    text-align: center;
    /* height: 100px;
    width: 666px;  */
    background-color: rgb(27, 31, 40);
}

.ww {
    color:  rgb(226, 157, 195);
}

body {
    background-color: rgb(27, 31, 40);
    /* Задаем цвет фона */
}
.Centroo {
    text-align: center;
    height: 45px;
}



input{
    height: 30px;
    transition: border-radius 0.3s ease;
}

input:focus{
    outline: none;
    
    border-radius: 15px;
}